main[class=post] section {
  margin-bottom: 3rem;
}
main[class=post] section:first-of-type {
  margin-top: 8rem;
}
main[class=post] h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: 1rem;
  display: inline-block;
}
main[class=post] p {
  text-align: justify;
}
main[class=post] .embed-iframe {
  position: relative;
  padding-bottom: 56.25%;
}
main[class=post] .embed-iframe iframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
main[class=post] .depts {
  display: inline-flex;
  gap: 1rem;
  grid-gap: 1rem;
}
main[class=post] .depts .dept-image {
  cursor: pointer;
  max-width: 100px;
}
main[class=post] .depts .dept-image img {
  border-radius: 50%;
}
main[class=post] section[id=cover] {
  color: white;
}
main[class=post] section[id=cover] h1 {
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  margin-bottom: 1rem;
}
main[class=post] section[id=cover] p {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.5rem;
}
main[class=post] section[id=cover] .bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50vh;
  z-index: -1;
}