<section id="cover">
  <div class="row">
    <div class="col-12">
      <div class="text-center mb-5 text-white">
        <h1 class="mb-3 fs-2 fw-bold"><%= page.title %></h1>
        <span class="fs-4"><%= page.description %></span>
      </div>
      <div class="position-relative" style="padding-bottom: 56.25%">
        <iframe
          class="position-absolute w-100 h-100"
          src="<%- page.cover.link %>"
        ></iframe>
      </div>
    </div>
  </div>
</section>
