<section id="result">
  <div class="container">
    <div class="title">
      <h2><%- page.result.title %></h2>
      <span><%- page.result.content %></span>
    </div>

    <% 
    site.posts.filter(p => p.lang == page.lang).forEach(post => { 
      var d = post.departments.map(i => dept(i, "id")).join(" ");
    %>
    <div class="row case" data-dept="<%- d %>"><%- post.id %></div>
    <% }) %>
  </div>
</section>
