<section id="origin">
  <h2 class="text-primary text-center fw-bold homepage-headline">計畫緣起</h2>
  <% page.origin.items.forEach(function(value){ %>
  <div class="row origin">
    <div class="col-md-8">
      <div class="row">
        <div class="col-lg-3 origin-type">
          <span class="text-primary origin-type"><%- value.type %></span>
        </div>
        <div class="col-lg-9">
          <h3 class="fs-4 fw-bold origin-title"><%- value.title %></h3>
          <div class="origin-content mt-3"><%- value.content %></div>
        </div>
      </div>
    </div>
    <div class="col-md-4 origin-pic">
      <div
        class="origin-pic-image"
        style="background: url('/image/<%- value.image %>')"
      ></div>
    </div>
  </div>
  <% }) %>
</section>
