main[class="home"] {
  h2 {
    font-weight: bold;
  }

  section {
    margin-bottom: 5rem;
  }

  section[id="cover"] {
    height: 100vh;
    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20vh;

    h1 {
      font-size: 4rem;
      font-weight: bold;
      margin-bottom: 0;
    }

    .title-en {
      font-size: 1.5rem;
    }

    p {
      margin-top: 1rem;
      font-size: 2.25rem;
      margin-bottom: 2rem;
    }

    .bg {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-size: cover !important;
      background-position: center !important;
      filter: brightness(0.5);
    }
  }

  section[id="introduction"] {
    h2 {
      color: var(--bs-primary);
      font-size: 2rem;
      margin-bottom: 1.5rem;
      font-weight: bold;
    }

    h3 {
      margin-bottom: 1.5rem;
      font-weight: 500;
    }

    br {
      content: "";
      margin: 1em;
      display: block;
    }

    .row {
      @media (max-width: 992px) {
        margin-bottom: 8rem;
      }
    }

    .part1 {
      @media (max-width: 992px) {
        .cover {
          img {
            width: 100%;
            margin-bottom: 2rem;
          }
        }
      }

      @media (min-width: 992px) {
        margin-bottom: 200px;
        height: 700px;

        .cover {
          height: 100%;
          position: relative;

          img {
            position: absolute;
            height: 100%;
            right: 0;
          }

          .triangle {
            z-index: 10;
            position: absolute;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 500px 250px 0 250px;
            left: -12rem;
            top: -6rem;
            opacity: 0.9;
            border-color: var(--bs-yellow) transparent transparent transparent;
          }
        }

        .text {
          padding: 3rem;
        }
      }
    }

    .part2 {
      @media (max-width: 992px) {
        .cover {
          img {
            width: 100%;
            margin-bottom: 2rem;
          }
        }

        .content-image {
          width: 50vw;
        }
      }

      @media (min-width: 992px) {
        margin-bottom: 200px;
        height: 800px;

        .cover {
          height: 100%;
          position: relative;

          img {
            position: absolute;
            height: 100%;
          }

          .circle {
            z-index: 10;
            position: absolute;
            width: 500px;
            height: 500px;
            border-radius: 100%;
            background-color: var(--bs-green);
            opacity: 0.9;
            bottom: -15rem;
            left: 8rem;
          }
        }

        .content-image {
          width: 300px;
          margin-top: 50px;
          margin-bottom: 50px;
        }

        .text {
          padding: 3rem;
          order: -1;
        }
      }
    }

    .part3 {
      @media (max-width: 992px) {
        .cover {
          img {
            width: 100%;
            margin-bottom: 2rem;
          }
        }
      }

      @media (min-width: 992px) {
        margin-bottom: 200px;
        height: 700px;

        .cover {
          height: 100%;
          position: relative;

          img {
            position: absolute;
            height: 100%;
            right: 50px;
          }

          .square {
            z-index: 10;
            position: absolute;
            width: 400px;
            height: 400px;
            background-color: var(--bs-blue);
            opacity: 0.9;
            bottom: -8rem;
            right: 12rem;
            transform: rotate(45deg);
          }
        }
      }
    }
  }

  section[id="achievement"] {

    .container {
      @media (min-width: 1200px) {
        max-width: 1140px;
      }

      @media (min-width: 1400px) {
        max-width: 1320px;
      }
    }

    .bg {
      background: url("/image/achievement_bg.png");
      background-size: cover !important;
      background-position: center !important;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    .carousel {

      .carousel-control-next,
      .carousel-control-prev {
        width: 8%;
        opacity: 0.8;
        position: unset;
      }

      .carousel-control-next-icon,
      .carousel-control-prev-icon {
        width: 100%;
        height: 100%;
      }

      .carousel-indicators {
        position: unset;
      }
    }

    .big-card {
      background: white;

      .row {
        margin-left: 0;
        margin-right: 0;
        padding-top: 0.75rem;
        padding-bottom: 0.75rem;
      }

      .image {
        background: url("/image/test.png");
        background-size: cover !important;
        background-position: center !important;
        width: 100%;
        padding-bottom: 75%;
      }

      .content {
        padding: 2.5rem 2rem 1rem 1rem;

        h3 {
          font-weight: bold;
        }

        .ellipsis {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 5;
          -webkit-box-orient: vertical;
        }
      }
    }
  }

  section[id="search"] {
    .container {
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;

      .tags {
        //max-width: 45rem;

        .btn-tag {
          background-color: var(--bs-secondary);
          color: white;
          width: 7rem;
          margin: 0.5rem;
          padding-top: 1px;
          padding-bottom: 1px;

          &.active {
            background-color: var(--bs-green);
          }
        }
      }

      .case-card {
        color: white;
        text-align: left;
        position: relative;

        .content {
          position: absolute;
          width: 100%;
          height: 100%;
          padding: 1.5rem;
          display: flex;
          flex-direction: column;
          justify-content: end;
          z-index: 1;

          h3 {
            font-weight: bold;
          }

          p {
            font-size: 1.5rem;
            margin: 0;
          }
        }

        .bg {
          top: 0;
          width: 100%;
          padding-bottom: 100%;
          background: url("/image/test.png");
          background-size: cover !important;
          background-position: center !important;
          filter: brightness(0.5);
        }
      }

      .more {
        margin-top: 2rem;

        a {
          float: right;
          color: var(--bs-secondary);
        }
      }
    }
  }
}