header .navbar .nav-link {
  color: black !important;
}


main[class="list"] {
  .title {
    margin-bottom: 2rem;

    h2 {
      display: inline;
      color: var(--bs-primary);
      font-weight: bold;
      margin-right: 1rem;
    }
  }

  section[id="filter"] {
    margin-top: 5rem;

    hr {
      margin: 1rem 0;
    }

    h3 {
      margin-top: 0.8rem;
      font-weight: bold;
      color: var(--bs-primary);
      font-weight: bold;
    }

    .row {
      margin-bottom: 1rem;
    }

    .collapse {
      &:not(.show) {
        display: block;
        height: 6.8rem;
        overflow: hidden;
      }

      &.show {
        height: unset;
      }
    }

    .collapsing {
      height: 6.8rem;
    }

    .filter-dept {
      .filter-item[data-active="true"] {
        color: var(--bs-primary);
        font-weight: bold;
      }
    }

    .filter-tag {
      h3 {
        color: var(--bs-green);
      }

      .filter-item[data-active="true"] {
        color: var(--bs-green);
        font-weight: bold;
      }
    }

    .filter-items {
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;

      .filter-item {
        border-right: 1px solid;
        border-color: #c4c4c4;
        font-size: 1.2rem;
        padding: 0 1.2rem;
        margin: 0.8rem 0;
        color: gray;
        cursor: pointer;

        &:hover {
          filter: contrast(2);
          font-weight: bold;
        }
      }
    }

    .search-bar {
      margin: 1rem 0;
      padding: 0 1.2rem;
    }

    .more {
      float: right;
      color: var(--bs-secondary);
    }
  }

  section[id="result"] {
    margin-top: 5rem;

    h3 {
      font-weight: bold;
    }

    .case {
      cursor: pointer;
      margin-bottom: 2rem;

      &[data-visible="false"] {
        display: none;
      }

      .badge {
        font-size: 0.875rem;
        color: white;
        padding: 0.3rem 1rem;
        margin-right: 0.3rem;

        &:hover {
          filter: contrast(2);
          transform: scale(1.1);
          font-weight: bold;
        }

        &.badge-dept {
          background-color: var(--bs-primary);
        }

        &.badge-tag {
          background-color: var(--bs-green);
        }
      }
    }

    a {
      text-decoration: none;
      color: black;
    }

    .image {
      width: 100%;
      padding-bottom: 56.25%;
      background-size: cover !important;
      background-position: center !important;
      border: var(--bs-secondary) 1px solid;
    }


  }
}