header .navbar .nav-link {
  color: black !important;
}

main[class="list"] {
  .title {
    margin-bottom: 3rem;
    h2 {
      font-size: 2rem;
      display: inline;
      font-weight: bold;
      color: var(--bs-primary);
      margin-right: 1rem;
    }
  }

  section[id="filter"] {
    margin-top: 10rem;

    hr {
      margin: 2rem 0;
    }

    h3 {
      margin-top: 1rem;
      font-size: 2rem;
      font-weight: bold;
      color: var(--bs-primary);
    }

    .filter-items {
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      .filter-item {
        border-right: 1px solid;
        border-color: #c4c4c4;
        font-size: 1.5rem;
        padding: 0 2rem;
        margin: 1rem 0;
        color: gray;
        cursor: pointer;
        &:hover {
          color: DimGray;
          font-weight: bold;
        }

        &[data-active="true"] {
          color: var(--bs-primary);
          font-weight: bold;
        }
      }
    }

    .search-bar {
      margin: 1rem 0;
      padding: 0 2rem;
    }
  }

  section[id="result"] {
    margin-top: 5rem;
    div[data-visible="false"] {
      display: none;
    }

    .case {
      cursor: pointer;
    }

    a {
      text-decoration: none;
      color: black;
    }
    .row {
      margin-bottom: 2rem;
    }

    .image {
      width: 100%;
      padding-bottom: 56.25%;
      background-size: cover !important;
      background-position: center !important;
    }

    h3 {
      font-size: 2.25rem;
    }

    h4 {
      font-size: 1.5rem;
    }
  }
}
