main[class="post"] {
  section {
    margin-bottom: 3rem;

    &:first-of-type {
      margin-top: 8rem;
    }
  }

  h2 {
    font-weight: bold;
    margin-right: 1rem;
    display: inline-block;
  }

  p {
    text-align: justify;
  }

  .embed-iframe {
    position: relative;
    padding-bottom: 56.25%;

    iframe {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
  
  section[id="cover"] {
    color: white;

    h1 {
      font-size: 2rem;
      text-align: center;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.5rem;
      text-align: center;
      margin-bottom: 1.5rem;
    }

    .bg {
      position: absolute;
      top: 0;
      width: 100%;
      height: 70vh;
      z-index: -1;
      background-color: var(--bs-primary);
      @media (max-width:992px) { 
        height: 60vh;
      }
      @media (max-width:768px) { 
        height: 55vh;
      }
    }
  }
}