@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC");
* {
  font-family: "Noto Sans TC";
}

header {
  position: absolute;
  width: 100%;
  z-index: 99;
  top: 0;

  .navbar {
    .nav-link {
      color: white !important;
    }
  }
}

.container {
  @media (min-width: 1400px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 960px;
  }
}

.search-bar {
  width: 100%;
  border-radius: 50rem;
  padding: 0.75rem 1rem 0.75rem 4rem;
  background-color: var(--bs-secondary);
  display: flex;
  justify-content: space-between;
  input {
    width:100%;
    font-size: 1.5rem;
    color: white;
    background-color: transparent;
    border: unset;
    cursor: default;
    &::placeholder {
      color: white;
    }
    &:focus {
      outline: 0;
    }
  }
  .search-btn {
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    background-color: white;
    display: flex;  
    align-items: center;
    justify-content: center;
    cursor: pointer;
    svg {
      font-size: 1.7rem;
    }
  }
}

.case {
  cursor: pointer;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-align: left;

  .image {
    width: 100%;
    padding-bottom: 56.25%;
    background-size: cover !important;
    background-position: center !important;
    border: var(--bs-secondary) 1px solid;
  }

  a {
    text-decoration: none;
    color: black;
  }


  &:hover{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    transform: scale(1.01);
  }

  &[data-visible="false"] {
    display: none;
  }

}

.badge {
  font-size: 0.875rem;
  color: white !important;
  padding: 0.3rem 1rem;
  margin-right: 0.3rem;
  text-decoration: none;

  &:hover {
    filter: contrast(1.5);
    transform: scale(1.1);
    font-weight: bold;
  }

  &.badge-dept {
    background-color: var(--bs-yellow);
  }

  &.badge-tag {
    background-color: var(--bs-green);
  }
}

.depts {
  display: inline-flex;
  gap: 1rem;
  grid-gap: 1rem;

  .dept-image {
    cursor: pointer;
    max-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    &:hover{
      transform: scale(1.1);
    }
  }
}