<section id="achievement">
  <div class="container">
    <h2 class="text-primary text-center mb-5"><%- page.achievement.title %></h2>
  </div>
  <div class="bg">
    <div class="container">
      <div
        id="carouselExampleIndicators"
        class="carousel slide"
        data-bs-ride="carousel"
      >
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="big-card row">
              <div class="col-lg-7">
                <div class="image"></div>
              </div>
              <div class="col-lg-5 content">
                <h3>以不妨礙漁民作業為前提<br />討論可開放釣魚的漁港及區域</h3>
                <p>
                  開放政府第40次協作會議
                  <br />「修正漁港法全面開放漁港港區釣魚並全面興建釣魚平台」
                </p>
                <p>
                  此平台由臺北市資訊局架設、維護，為整合臺北市政府各機關之申辦案件服務的平台，提供超過1400 項線上申辦服務。
                </p>
                <p>
                  團隊經過前期研究後，發現「場地租借服務」是此次改造的潛在標的，除了因場地租用的服務四散在不同的營運方外，服務流程本身也相當繁複。因此，在設計方面，期能透過「效率查找」、「良好的資訊呈現」、「優化租借服務流程」三大目標，解決市民在租借場地上的痛點。
                </p>
              </div>
            </div>
          </div>
        </div>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="prev"
        >
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#carouselExampleIndicators"
          data-bs-slide="next"
        >
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
        <div class="carousel-indicators">
          <button
            type="button"
            data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0"
            class="active"
            aria-current="true"
            aria-label="Slide 1"
          ></button>
        </div>
      </div>
    </div>
  </div>
</section>
