<% if (page.embed) { Object.keys(page.embed).forEach(key => { %>
<section id="<%- key %>">
  <div class="container">
    <div class="mb-3">
      <h2><%- _(`post.embed.${key}.title`) %></h2>
      <span><%- _(`post.embed.${key}.content`) %></span>
    </div>
    <% array(page.embed[key].links).forEach(link => { %>
    <div class="mb-3">
      <div class="position-relative border" style="padding-bottom: 56.25%">
        <iframe class="position-absolute w-100 h-100" src="<%- embed_link(link) %>"></iframe>
      </div>
    </div>
    <% }) %>
  </div>
</section>
<% })} %>